# Core components
python-fasthtml>=0.12.39
MonsterUI>=0.3.0

# Database & storage
sqlite_minutils==4.0.3
supabase>=2.0.0

# Server & async
uvicorn>=0.30.1
#polars-lts-cpu
polars>=1.0.0

# Utilities
tenacity
requests
click
isodate
# introducing google-api-python-client causes vercel deployment issues due to size > 250 MB
#google-api-python-client
