# Core components
python-fasthtml>=0.12.39
MonsterUI>=0.3.0

# Database & storage
sqlite_minutils==4.0.3
supabase>=2.0.0

# Server & async
uvicorn>=0.30.1

yt-dlp
polars
tenacity
requests
google-api-python-client
isodate
click
pytest
pytest-asyncio
